MYSQL_DATABASE=board_db
MYSQL_USER=board_user
MYSQL_PASSWORD=board_password
MYSQL_ROOT_PASSWORD=root_password
DB_HOST=localhost
DB_PORT=3306
AUTH_JWT_SECRET=replace_with_base64_encoded_32_byte_secret
AUTH_COOKIE_SECURE=false
